@page
@model IndexModel

<div class="page-header">
    <div class="alert alert-success" role="alert">
        <h3>
            Success
            <small>You have successfully authorized the device</small>
        </h3>
    </div>
</div>