@page
<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <div class="alert alert-info" role="alert">
            Your account contains personal data that you have given us. This page allows you to download or delete that
            data.
        </div>
        <form method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <div class="alert alert-danger" role="alert">
            Deleting this data will permanently remove your account, and this cannot be recovered.
        </div>
        <div>
            <a asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
        </div>
    </div>
</div>