@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
}

<div class="row">

    <div class="col-12">
        <h3>@ViewData["Title"]</h3>
    </div>

    @if (Model.Manage.Is2faEnabled)
    {
        if (Model.Manage.RecoveryCodesLeft == 0)
        {
            <div class="col-12">
                <div class="alert alert-danger">
                    <strong>You have no recovery codes left</strong>
                    <p>You must <a asp-page="RecoveryCodes">generate a new set of recovery codes</a> before you can
                        log in with a recovery code</p>
                </div>
            </div>
        }
        else if (Model.Manage.RecoveryCodesLeft == 1)
        {
            <div class="col-12">
                <div class="alert alert-danger">
                    <strong>You have 1 recovery code left</strong>
                    <p>You can generate a new set of recovery codes <a asp-page="RecoveryCodes">generate a new set of
                            recovery codes</a></p>
                </div>
            </div>
        }
        else if (Model.Manage.RecoveryCodesLeft <= 3)
        {
            <div class="col-12">
                <div class="alert alert-warning">
                    <strong>You have @Model.Manage.RecoveryCodesLeft.ToString() recovery codes left</strong>
                    <p>You should <a asp-page="RecoveryCodes">generate a new set of recovery codes</a></p>
                </div>
            </div>
        }

        if (Model.Manage.IsMachineRemembered)
        {
            <div class="col-12 mb-3">
                <form method="post" asp-page="ForgetTwoFactorClient">
                    <button type="submit" class="btn btn-info">Forget this browser</button>
                </form>
            </div>
        }

        <div class="col-12">
            <a asp-page="Disable2faWarning" class="btn btn-dark">Disable 2FA</a>
            <a asp-page="RecoveryCodesWarning" class="btn btn-danger">Reset recovery codes</a>
        </div>
    }

</div>

<div class="row">

    <div class="col-12 mt-3">
        <h4>Authenticator app</h4>
    </div>

    <div class="col-12">
        @if (!Model.Manage.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="EnableAuthenticator" class="btn btn-primary">Add authenticator app</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="EnableAuthenticator" class="btn btn-primary">Setup authenticator
                app</a>
            <a id="reset-authenticator" asp-page="ResetAuthenticatorWarning" class="btn btn-danger">Reset authenticator
                app</a>
        }
    </div>
</div>